.side-var
  .side-var__user-name
    -# ＜ユーザネーム＞
    .side-var__user-name__name-icon
      .side-var__user-name__name-icon__name
        masa
      .side-var__user-name__name-icon__icon
      =link_to "#" do
        = icon('fas', 'edit', class: "side-var__user-name__name-icon__icon__edit")
      =link_to "#" do
        = icon('fas', 'cog', class: "side-var__user-name__name-icon__icon__setting")
  .side-var__group-list
    .side-var__group-list__content
      .side-var__group-list__content__group-name
        グループ_01
      .side-var__group-list__content__group-message
        新しいメッセージはありません
    .side-var__group-list__content
      .side-var__group-list__content__group-name
        グループ_01
      .side-var__group-list__content__group-message
        新しいメッセージはありません
    .side-var__group-list__content
      .side-var__group-list__content__group-name
        グループ_01
      .side-var__group-list__content__group-message
        新しいメッセージはありません