.chat-main{
  height: 100vh;
  width: calc( 100vw - 300px );
  &__group-info{
    background-color: $info-back-color;
    height: 100px;
    display: flex;
    justify-content: space-between;
    &__infomation{
      margin: 35px 0 0 40px;
      &__group-name{
        font-size: 20px;
        color: $group-name-color;
      }
      &__member-lists{
        font-size: 12px;
        color: $member-color ;
        margin-top: 15px;
      }
    }
    &__container{
      display: flex;
      flex-direction: row;
      &__edit-group{
        border: 1px solid $btn-color;
        height: 40px;
        width: 72px;
        margin: auto 40px;
        display: flex;
        justify-content: center;
        &__edit-btn{
          text-decoration: none;
          color: $btn-color;
          width: 32px;
          line-height: 40px;
          text-align: center;
        }
      }
    }
  }
  &__message-list{
    background-color: $main-back-color;
    height: calc( 100vh - 100px - 90px );
    padding-top: 40px;
    position: relative;
    &__container{
      display: block;
      overflow: scroll;
      height: 100%;
      // width: calc( 100% - 80px );
      width: 100%;
      margin: 0 40px 0;
      .message{
        .upper-message{
          display: flex;
          &__user-name{
            color: $name-color;
            font-size: 16px;
            margin-bottom: 4px;
          }
          &__date{
            color: $date-color;
            font-size: 12px;
            margin-left: 5px;
          }
        }
        .lower-message{
          color: $message-color;
          font-size: 14px;
          margin-bottom: 46px;
        }
      }
    }
  }

  &__message-form{
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .form-area{
      height: 50px;
      width: calc(100% - 80px);
      .new_message{ // form_forでの強制クラス
        height: 100%;
        width: 100%;
        display: flex;
        .input-area{
          height: 100%;
          width: calc( 100% - 110px );
          padding-left: 10px;
          position: relative;
        }
        .form__mask{
          position: absolute;
          right: 150px;
          height: 50px;
          padding-right: 10px;
          line-height: 50px;
          .input-img-mask{  // ラベル
            .icon{
              font-size: 20px;
            }
            .input-img{
              display: none;
            }
          }
        }
        .submit-btn-mask{
          background-color: $btn-color;
          height: 100%;
          width: 95px;
          margin-left: 15px;
          text-align: center;
          color: white;
        }
      }
    }
  }
}

