.side-var{
  a:link { color:white; text-decoration:none }
  a:visited { color:white; text-decoration:none }
  height: 100vh;
  width: 300px;
  &__user-name{
    background-color: #253141;
    font-weight: bold;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    &__name-icon{
      color: #ffffff;
      height: 20px;
      line-height: 20px;
      width: calc( 100% - 20px - 20px );
      display: flex;
      justify-content: space-between;
      &__name{
        width: calc( 100% - 60px );
      }
      &__icon{
        width: 60px;
        display: flex;
        text-decoration: none;
        &__edit{
        }
        &__setting{
          margin-left: 5px;
        }
      }
    }
  }
  &__group-list{
    background-color: #2f3e51;
    height: calc( 100vh - 100px );
    padding-top: 20px;
    &__content{
      text-decoration: none;
      width: calc( 100% - 40px );
      padding: 0 20px 40px 20px;
      // margin: 0 auto;
      line-height: auto;
      .link-decoration {
        text-decoration: none;
      }
      &__group-name{
        font-size: 15px;
      }
      &__group-message{
        font-size: 11px;
        margin-top: 5px;
      }
    }   
  }
}